#messageIndex
    %div
        %h2 Thank you for your message!
        %hr
        %p I will get back to you as soon as possible.
        

        = link_to 'go to home page', root_path, id: 'messageLink'
