<div class="homeWhite">
    <div class="navIconBox">
        <div class="navIcon">
            <div class="navIconLine"></div>
            <div class="navIconLine"></div>
        </div>
    </div>
</div>

<div class="homeImage">
    <div class="homeText">
        <h1>hanna linnéa nyman</h1>
        <hr />
        <p>fullstack web developer</p>
    </div>
</div>

<div class="homeWhite">
    <div class="musicBox">
        <hr>
        <%= image_tag('play.png') %>
    </div>
</div>
