.home

  .menuIcon{onclick: 'goToNavigation()'}
    .menuIconLine.menuIconLine1
    .menuIconLine.menuIconLine2
    .menuIconLine.menuIconLine3

  .homeBox
    - if admin_signed_in?
      = link_to 'Sign out', destroy_admin_session_path, method: :delete
      = link_to 'Messages', admin_index_path
    - else
      %h2.adminLink welcome.

    %p.welcomeP
      You have reached a
      %br
      %span
        fullstack web developer
      %br
      located in
      %span.sweden
        Stockholm, Sweden.
      %br
      have a look around.
      %br / Hanna

  .homeBox
    .scroll
      #scrollLineOne
        #scrollLineTwo
      %p scroll

.list
  #item1.listItem
    %p home
  #item2.listItem{onclick: 'openAboutMeModal()'}
    %p about me
  #item3.listItem{onclick: 'openWorksModal()'}
    %p my works
  #item4.listItem{onclick: 'window.location.href = "https://cryptic-shore-60293.herokuapp.com/messages/new"'}
    %p contact
  #item5.listItem
    %hr/
    %p music

  / music modal
  
  #musicModal
    %p#musicModalX{onclick: 'hideMusicModal()'} X
    %div
      %p music tip:
      %hr/
      %p#song song will come up here

  #aboutMeModal
    .aboutScroll
      .aboutLine1
        .aboutLine2
      %p scroll
      
    %p#aboutX{onclick: 'closeAboutMeModal()'} X

    .aboutBox
      %div
        %h3 Nice to see you here!
        %p
          My name is Hanna, a fullstack web developer made in
          %span.stockholm Stockholm, Sweden.
        %p I am a graduate from the programming bootcamp Craft Academy.
        %p
          When I am not programming you will find me sitting with a guitar or in front of my computer screen again,
          %br this time watching debates on youtube.
    
    .aboutBox
      %div
        / this will be an animation
        %p some of my opinions:
        %p coffee > tea
        %p ikea > any store
        %p snowboarding > skiing
        %p summer > winter
        %p poker > chess

        %p You can contact / stalk me here:
        %p Instagram
        %p GitHub

        %p special thanks
        %p coaches at craft academy

        %p "compare yourself to who you were yesterday, not to who someone else is today" - Jordan B Peterson

  / works modal

  #worksModal
    %p#worksModalX{onclick: 'closeWorksModal()'} X

    .work
      = image_tag('valencia.png', class: 'workImage')

      .workInfo
        %div
          .workTitle
            %h3 - Valencia -
          .workInformation
            %p.workDescription
              %span.blue> This is a restaurant website that has a luxury / fancy feel to it.
            %p.blue.features This website includes:
            %p.feature - The owner of the restaurant can log in as an Admin
            %p.feature - You can add items to the menu
            %p.feature - You can edit items on the menu
            %p.feature - You can delete items on the menu
            %p.feature - Responsive design, which means it looks good on all screen sizes
            %p.feature - Animation when you open and close the navigation

      .workLink
        %hr
        %a{href: 'https://polar-sea-30671.herokuapp.com/', target: '_blank'} visit site

    .work.work2
      %h1 - upcoming -

