<div class="home">
    <div class="homeBox"></div>

    <div class="homeBox">
        <div class="scroll">
            <div id="scrollLineOne">
                <div id="scrollLineTwo"></div>
            </div>
            
            <p>scroll</p>
        </div>
    </div>
</div>

<div class="list">
    <div class="listItem" id="item1">
        <p>home</p>
    </div>

    <div class="listItem" id="item2">
        <p>about me</p>
    </div>

    <div class="listItem" id="item3">
        <p>works</p>
    </div>

    <div class="listItem" id="item4">
        <p>contact</p>
    </div>
</div>
