.home

  .menuIcon{onclick: 'goToNavigation()'}
    .menuIconLine
    .menuIconLine.menuIconLine2
    .menuIconLine.menuIconLine3

  .homeBox
    - if admin_signed_in?
      = link_to 'Sign out', destroy_admin_session_path, method: :delete
      = link_to 'Messages', admin_index_path
    - else
      = link_to 'welcome.', new_admin_session_path, class: 'adminLink'

    %p.welcomeP have a look around

  .homeBox
    .scroll
      #scrollLineOne
        #scrollLineTwo
      %p scroll

.list
  #item1.listItem
    %p home
  #item2.listItem{onclick: 'openAboutMeModal()'}
    %p about me
  #item3.listItem{onclick: 'openWorksModal()'}
    %p my works
  #item4.listItem{onclick: 'window.location.href = "https://cryptic-shore-60293.herokuapp.com/messages/new"'}
    %p contact
  #item5.listItem
    %hr/
    %p music

  / music modal
  
  #musicModal
    %p#musicModalX{onclick: 'hideMusicModal()'} X
    %div
      %p music tip:
      %hr/
      %p#song song will come up here

  / about me modal

  #aboutMeModal
    %p#aboutX{onclick: 'closeAboutMeModal()'} X

    .aboutMeText
      %h3 Nice to see you here!
      %p My name is Hanna.
      %p I am a fullstack web developer made in Stockholm, Sweden.
      %p I recently graduated from a programming bootcamp called Craft Academy here in Stockholm where we learned both front and backend development.
      

  / works modal

  #worksModal
    %p#worksModalX{onclick: 'closeWorksModal()'} X

    .work
      = image_tag('valencia.png', class: 'workImage')

      .workInfo
        %div
          .workTitle
            %h3 - Valencia -
          .workInformation
            %p.workDescription
              %span.blue> This is a restaurant website that has a luxury / fancy feel to it.
            %p.blue.features This website includes:
            %p.feature - The owner of the restaurant can log in as an Admin
            %p.feature - You can add items to the menu
            %p.feature - You can edit items on the menu
            %p.feature - You can delete items on the menu
            %p.feature - Responsive design, which means it looks good on all screen sizes
            %p.feature - Animation when you open and close the navigation

      .workLink
        %hr
        %a{href: 'https://polar-sea-30671.herokuapp.com/', target: '_blank'} visit site



