.home
  .homeBox
  .homeBox
    .scroll
      #scrollLineOne
        #scrollLineTwo
      %p scroll
.list
  #item1.listItem
    %p home
  #item2.listItem
    %p about me
  #item3.listItem
    %p works
  #item4.listItem
    %p contact
  #item5.listItem
    %hr/
    %p music
  / music modal
  #musicModal
    %p#musicModalX X
    %div
      %p music tips:
      %hr/
      %p#song song will come up here yes
