.homeWhite
    background-color: white
    height: 6rem
    width: 100vw

.navIconBox
    cursor: pointer
    float: left
    height: 100%
    width: 8rem

.navIconLine
    background-color: black
    height: 2px
    margin: 10px 0px 10px 0px
    width: 50px

.navIconLine:last-child
    width: 30px

.homeImage
    background: linear-gradient(to right, rgba(241, 250, 255, .8), rgba(241, 250, 255, .85)), image_url('sweden.jpg')
    background-position-y: 30%
    background-size: cover
    height: calc(100vh - 12rem)
    width: 100vw

.homeText
    text-align: center
    text-transform: uppercase

.homeText h1
    font-size: 20px
    letter-spacing: 20px

.homeText hr
    width: 50px
